body{
    background-image: url(background-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100lvh;
}
#clock{
    font-family: monospace;
    font-size: 6.5rem; 
    font-weight: bold; 
    text-align: center;
    color: rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    background: hsla(0,0%,100%,0.10);
    width: 100%;
}